@import 'normalize-scss';
@include normalize();

.App {
  header {
    font-size: 64px;
    text-align: center;
  }

  .snake-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 630px;
    margin: auto;
  }

  .help {
    margin-top: 1em;
  }

  svg {
    background-color: #ccf;
    height: 630px;
    width: 630px;
    margin: auto;
  }

  ._SnakeDirection {
    polygon {
      fill: red;
    }
  }

  ._SnakeHead {
    fill: black;
  }

  ._Fruit {
    fill: red;
  }
}
